#header {
	align: center;
}
aside.announce {
	background-color: #E5637D;
	text-align: left;
	float: right;
}
#rightside {
			margin: 1px;
			float: left;
}
ul {
	list-style-type: none;
    overflow: hidden;
    background-color: #FFA2B5
}

li {
}

li a {
	color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #F71E08;
}
ol {
	list-style:none;
	text-wrap:suppress;
}
body {
	background-color: #FCEDF0;
}
#content
	{
		width: 100%;
	}
	