#Container {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
}
#header {
	height: 150px;
	background-color:hsla(0,0%,53%,1.00);
	
}
#menu {
		height: 60px;
		background-color: red;
		text-align: center;
		width: 100%;
}
#sidebar {
	width: 150px;
	height: 400px;
	background-color: green;
	float: left;
}
#sidebar ul {
	text-align:left;
}
#mainbody {
	width: 650px;
	height: 400px;
	background-color: blue;
	float: right;
}
#footer {
	height: 100px;
	margin-bottom: 21px;
	background-color: #CCCC99
	;
	clear:both;
}
#menu ul {
		margin: 0px;
		padding: 0px;
}
#menu li {
	liste-stle-type: none;
	float: left;
	display:  block;
	width: 150px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 18px;
}
#menu li a {
	text-decoration: none;
	color: #FFFFFF;
}
#menu li a:hover {
	text-color: #BC16CD;
	color: black;
}
