@charset "UTF-8";
body {
	width: 1024px;
	margin: 0 auto;
	background: hsla(0,100%,46%,1.00);
}
.header {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.header img {
	width: 1024px;
	margin: 0px;
	padding: 0px;
}
.header ul {
	list-style: none;
	margin: 0px;
	background: black;
}
.header li {
	display: inline;
	text-align: right;
	margin: 0px;
	padding: 0px;
}
.header a {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: bolder;
	font-size: 24px;
	padding-right: 50px;
	margin: 0px;
	text-decoration: none;
	color: white;
}
.header a:hover {
	color: red;
	font-weight: bolder;
}
.signup {
	text-align: center;
	margin: 20px;
	background-color: black;
}
.signup span {
	text-align: center;
	font-size: 36px;
	font-family: holtwood-one-sc;
	font-weight: bolder;
	width: 100%;
	margin: 0px;
}
.signup a {
	color: white;
	text-decoration: none;
}
.signup a:hover {
	text-decoration: none;
	color: red;
}
.gallery {
	max-width: 960px;
	text-align: center;
}
.gallery img {
	float: left;
	width: 100px;
	height: 100px;
	background-color: grey;
}
.caption {
	display: block;
	float: left;
}
table {
	background: red;
}
tr {
	color: white;
}
.prices a {
	text-decoration: none;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 24px;
	font-weight: bolder;
	color: black;
	display: block;
	background: white;
}
.prices a:hover {
	color: red;
	background-color: yellow;
}
.about {
	background-color: hsla(0,100%,46%,1.00);
}
.about li {
	color: white;
	font-weight: bolder;
	font-size: 25px;
}
.about h2 {
	font-size: 40px;
	font-family: bigshot-one;
	color: white;
	text-align: center;
}
.highlight {
	color: yellow;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
.notice {
	text-decoration: underline;
	color: yellow;
}
.notice hover {
	color: orange;
}
.pricelist {
	width: 897px;
	font-size: 19px;
	background-color: hsla(0,100%,46%,1.00);
}
.eventsimg {
	width: 502;
	border: 0;
	cellspace: 30px;
}
.partyinfo {
	color: white;
}
.links {
	text-align: center;
}
.links a {
	text-decoration: none;
	font-size: 34px;
	text-align: center;
	color: yellow;
}
.links a:hover {
	color: white;
}
.define {
	color: white;
	font-size: 35px;
}
.definebody {
	color: white;
	font-size: 19px;
	background-color: hsla(0,95%,41%,1.00);
}
.gallerylinks {
	text-decoration: none;
	color: white;
}
.gallerylinks a:hover {
	color: yellow;
}

footer {
	text-align: center;
	color: white;
	margin-top:90px;
}
.contact {
	font-size: 40px;
	font-family: bigshot-one;
	color: white;
	text-align: center;
}
.sewing img{
	margin-left: auto;
	margin-right: auto;
}